nltk
scikit-learn
pandas
wikipedia
numpy
requests
transformers
torch
streamlit
spacy
gensim
tensorflow
joblib
keras
gradio
networkx
fr_core_news_md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.7.0/fr_core_news_md-3.7.0-py3-none-any.whl